/**** GENERAL ****/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* buttons  */
button{
  border: none;
  border-radius: 20px;
  padding: 8px;
}

button:hover{
  cursor: pointer;
  color: blue;
  box-shadow: 1px 1px 2px blue;
}

.button-accedi{
  font-size: 9px;
  background-color: white;
}

.jumbo-buttons{
  margin-left: 18%
}

.jumbotron .content button{
  margin-top: 20px;
  margin-right: 20px;
}

button.download{
  background-color: white;
}

button.open{
  background-color: #23272A;
  color: white;
}

.bottom-main .item button{
  background-color: #8EA1E2;
  color: white;
  margin-left: 170px;
  margin-top: 30px;
}

.open:hover, .bottom-main button:hover{
  color: blue;
}

.footer-button{
  position: absolute;
  right: 0;
  bottom: 110px;
  background-color: #8EA1E2;
  font-size: 10px;
}
/* /buttons  */

/**** HEADER  ****/
header{
  background-color: #3161E0;
}

nav{
  width: 60%;
  margin: 0 auto;
}

nav div{
  display: inline-block
}

.logo{
  width: 80px;
  padding: 15px 0;
  vertical-align: middle;
}

/* menu */
.menu ul{
  margin: 0 100px;
}

.menu ul li{
  display: inline-block;
  list-style: none;
}

.menu ul li a{
  text-decoration: none;
  color: white;
  font-size: 10px;
  padding: 20.5px 15px;
}

.menu ul li a:hover{
  background-color: rgb(31, 31, 167);
}

/* jumbotron  */
.jumbotron{
  position: relative;
  background-image: url(../img/jumbo.png);
  width: 100%;
  height: 365px;
  background-size: cover;
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jumbotron h2, .jumbotron p{
  color: white;
  text-align: center;
}

.jumbotron h2{
  font-size: 3vw;
  margin-bottom: 25px;
}

.jumbotron p{
  font-size: 1vw;
  width: 500px;
}
/* /jumbotron  */

/* MAIN  */
main{
  position: relative;
}

.item{
  position: relative;
  width: 70%;
  margin: 0 auto;
}

/* top-main */
main section{
  margin-top: 80px;
}

main section:first-of-type{
  margin-top: 0;
}

.top-main{
  width: 450px;
  vertical-align: top;
}

.text.left, .text.right{
  display: inline-block;
  width: 218px;
}

.text h3{
  font-size: 30px;
  margin-top: 25px;
}

.text p{
  text-align: justify;
  font-size: 13px;
  margin-top: 20px;
}

.text.left, .img-left{
  float: left;
}

.text.right, .img-right{
  float: right;
}

.forth-section .item .text h3, .forth-section .item .text p {
  text-align: center;
}
/* /top-main */

.bottom-main{
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.bottom-main .item h4{
  font-size: 22px;
  background-image: url(../img/stars.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-left: 50px;
}
/* /MAIN  */

/* FOOTER  */
footer{
  background-color: #23272A;
}

.social{
  vertical-align: top;
  display: inline-block;
  width: 211px;
  padding-top: 50px;
  margin-right: 50px;
}

.social h3{
  font-size: 20px;
  color: #7289DA;
}

.language{
  color: white;
  margin-top: 10px;
}

.language img{
  width: 20px;
}

.language span{
  font-size: 12px;
}

.social p{
  color: white;
  margin-top: 10px;
}

.social p span{
  margin-right: 10px;
}

.list{
  display: inline-block;
  height: 400px;
  margin-top: 50px;
  font-size: 12px;
  margin-bottom: 10px;
}

.list ul{
  float: left;
  display: inline-block;
  padding-right: 70px;
  text-align: top;
}

.list li{
  list-style: none;
  line-height: 30px
}

.list li:first-child{
  color: #7289DA;
}

.list li a{
  text-decoration: none;
  color: white;
}

.list li a:hover{
  color: rgb(146, 118, 192);
}

footer hr{
  color:rgb(146, 118, 192);
  margin-top: 20px;
}

.bottom-footer{
  padding-bottom: 100px;
}


